<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.CSSGridLayout" description="CSSGridLayout definition items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="EE:\Source\Sitecore.CSSGridLayout\src\Foundation\CSSGridLayout\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.CSSGridLayout.Templates" database="master" path="/sitecore/templates/CSSGrid" />
            <include name="Foundation.CSSGridLayout.Renderings" database="master" path="/sitecore/layout/Renderings/CSSGrid" />
            <include name="Foundation.CSSGridLayout.System" database="master" path="/sitecore/system/Modules/CSSGrid" />
            <include name="Foundation.CSSGridLayout.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/CSSGrid" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>